.block {
  display: inline-block;
  width: 200px;
  margin: 0 10px;
}

.block_small {
  display: inline-block;
  width: 150px;
  margin: 0 10px;
}

.block_long {
  display: inline-block;
  width: 450px;
}

.block2{
  display: inline-block;
  width: 300px;
}

.block3{
  display: inline-block;
  width: 300px;
}

.weeknd_raw {
  width: 200px;
}

.hybrid_intro {
  width: 900px;
  font-size: 12pt;
  padding-top: 15px;
  padding-bottom: 15px;
}
