.block {
  display: inline-block;
  width: 350px;
}

.block_long {
  display: inline-block;
  width: 450px;
}

.block2{
  display: inline-block;
  width: 300px;
}

.block3{
  display: inline-block;
  width: 300px;
}

.weeknd_raw {
  width: 200px;
}

.hybrid_intro {
  width: 1000px;
  font-size: 14pt;
  padding-top: 15px;
  padding-bottom: 15px;
}
